.managementTitle {
  text-align: center;
  color: #0b4877;
}

.table_wrapper {
  align-items: center;
}

.pagination_wrapper {
  margin-top: 15px;
}

.homeButtons {
  margin-right: 10px;
}

.searchInput {
  height: 36px;
  margin-right: 15px;
}

.pagination_number {
  cursor: pointer;
}

.pagination_number:not(:last-child) {
  margin-right: 7px;
}
.mdc-data-table {
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: auto;
}
.mdc-data-table__header-row-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-data-table__header-row-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-data-table__row-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-data-table__row-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  border-color: #0b4877;
  border-color: var(--mdc-theme-primary, #0b4877);
  background-color: #0b4877;
  background-color: var(--mdc-theme-primary, #0b4877);
}
.mdc-button:not(:disabled) {
  color: #0b4877;
  color: var(--mdc-theme-primary, #0b4877);
}

.lzy {
  color: #0b4877;
}

div .iscek {
  display: none;
}
Style Attribute {
  color: #00000000;
}
